html {
  height: 100%;
}

body {
  height: calc(100vh - 50px);
}

svg {
  background: #FFF;
  display: block;
}

.bar, .legend-item {
  opacity: 1;
  transition-delay: 0.5s;
  transition: opacity .1s ease-in-out;
}

.bar.subdued, circle.subdued {
  opacity: 0.2;
}

.bar:hover {
  cursor: pointer;
}

.bar-label {
  display: none;
}

.bar-label.net {
  fill: #000;
  display: none;
}

.bar-label.selected {
  display: initial;
}

.bar.selected {
  opacity: 1;
}

circle.selected {
 opacity: 1;
}

circle {
  pointer-events: none;
  opacity: 1;
  fill: #FFF;
  stroke: #000;
  stroke-width: 1;
}

.trendline {
  pointer-events: none;
  display: none;
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: 11 6;
}

.trendline.selected {
  display: initial;
}

text.in { fill: rgba(70, 180, 129, 1); }
text.out { fill: rgba(218, 89, 89, 1); }

span.in { color: rgba(70, 180, 129, 1); }
span.out { color: rgba(218, 89, 89, 1); }

/*.in-selected { fill: #46b481; }
.out-selected { fill: #da5959; }*/

.center-axis, .center-axis-break-vertical {
  stroke: #6b6b6d;
  stroke-width: 1;
}

.hundredk-axis {
  stroke: #cacaca;
  stroke-width: 0.5;
  font-size: 10px;
}

.main {
  margin-top: 50px;
}

.chart-container {
  padding: 0 15px;
}

/*Since bootstrap can't do 20% wide columns, use this class that mimics col-XX-xx for the year labels*/
.year-label {
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  float:left;
  font-size: 25px;
  color: #848484;
  font-weight: 400;
}

.year-label:not(:last-child) {
  border-right: 1px solid #9e9595;
}

.year-label-row {
  left: 15px;
  right: 15px;
  line-height: 48px;
}

@media (max-width:920px) {
  .year-label {
    font-size: 16px;
  }
}



#cohort-label {
  position: absolute;
  font-size: 36px;
  color: #898989;
  font-weight: 200;
  padding: 10px 0;
}

.meta p {
  font-size: 12px;
}

p.header-label {
  color: #d96b27;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 8px;
  margin: 10px 0;
  margin-bottom: -8px;
  letter-spacing: 1.2px;
}

.no-data {
  fill: #848484;
}

/*Legends*/

.legend-color-box {
  height: 10px;
  width: 10px;
  float: left;
  margin-right: 10px;
}

.legend-items {
  margin: 12px 0 10px 0;
}

.legend-item {
  margin-top: 0;
  margin-bottom: 4px;
}

.legend-item.subdued {
  opacity: 0.2;
}

.legend-item.selected {
  font-weight: 600;
}


.legend-text {
  line-height: 12px;
}

/*End Legends*/

/*Common DCP Navbar*/
.navbar-collapse.collapsing, .navbar-collapse.in, .navbar-default {
  background-color: hsla(0,0%,100%,.94);
}

.navbar-default .navbar-brand {
  background-image: url('https://capitalplanning.nyc.gov/img/logo_120.png');
  background-repeat: no-repeat;
  background-position: 16px 9px;
  background-size: 66px;
  height: 50px;
  width: 100px;
  padding: 0;
}

.navbar-title {
  float: left;
  color: #d96b27;
  font-size: 22px;
  line-height: 50px;
}

.navbar-title .title {
  color: #959595;
  font-weight: 300;
}

.dropdown-menu>li>a, .navbar-default .navbar-nav>li>a {
    padding: 15px 18px;
    color: #db691b;
    font-size: 16px;
    font-weight: 300;
}

nav {
  font-family: Oswald,sans-serif;
}

ul.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>li:hover {
    background: #eee;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #af4c0f;
    cursor: pointer;
}

/*End Common DCP Navbar*/

/*Common DCP Footer*/
.footer {
  background: #ececec;
  padding-top: 56px;
  padding-bottom: 56px;
  font-size: 14px;
  font-weight: 400;
}

.footer .copyright {
  font-size: 11px;
  margin-bottom: 0;
}
/*End Common DCP Footer*/

/*Common DCP Modal*/
.modal-header {
  background: #ececec;
  font-family: Oswald,sans-serif;
  color: #d96b27;
}

.modal-footer {
  background: #ececec;
}

/*End Common DCP Modal*/
