/*body { background: #2c2c2c; }*/

svg {
  background: #e1e1e1;
  margin-left: -15px;
  margin-right: -15px;
}

.bar {
  fill: steelblue;
  opacity: 0.2;
}

.bar:hover {
  cursor: pointer;
}

.bar.selected {
  opacity: 1;
}

 .net.selected {
   fill: #FFF;
   opacity: 1;
 }

.net {
  opacity: 0.2;
}


.in { fill: rgba(70, 180, 129, 1); }
.out { fill:rgba(218, 89, 89, 1);; }

.in-selected { fill: #46b481; }
.out-selected { fill: #da5959; }

.center-axis {
  stroke: #6b6b6d;
  stroke-width: 1;
}

.container-fluid {
  margin-top: 50px;
}

/*Since bootstrap can't do 20% wide columns, use this class that mimics col-XX-xx for the year labels*/
.year-label {
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  float:left;
  font-size: 25px;
  background: #e1e1e1;
  color: #b9b9b9;
  font-weight: 200;
}

/*Common DCP Navbar*/
.navbar-collapse.collapsing, .navbar-collapse.in, .navbar-default {
  background-color: hsla(0,0%,100%,.94);
}

.navbar-default .navbar-brand {
  background-image: url('https://capitalplanning.nyc.gov/img/logo_120.png');
  background-repeat: no-repeat;
  background-position: 16px 9px;
  background-size: 66px;
  height: 50px;
  width: 100px;
  padding: 0;
}

.navbar-title {
  float: left;
  color: #d96b27;
  font-size: 22px;
  line-height: 50px;
}

.navbar-title .title {
  color: #959595;
  font-weight: 300;
}

.dropdown-menu>li>a, .navbar-default .navbar-nav>li>a {
    padding: 15px 18px;
    color: #db691b;
    font-size: 16px;
    font-weight: 300;
}

nav {
  font-family: Oswald,sans-serif;
}

ul.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>li:hover {
    background: #eee;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #af4c0f;
    cursor: pointer;
}

/*End Common DCP Navbar*/
