
{
  "extends": "airbnb-base/legacy",
  "globals": {
    "d3": true,
    "$": true,
    "numeral", true,
    "_": true,
    "chroma": true,
    "characteristics": true
  },
  "rules": {
    "func-names": 0,
    "vars-on-top": 0,
  }
}
